<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Wall</title>
</head>
<body>

  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <form action="/the_wall/users" method="post">
    {% csrf_token %}
    <fieldset>
      <legend>Register</legend>
      First Name: <input type="text" name="f_name">
      Last Name: <input type="text" name="l_name">
      Email: <input type="email" name="email">
      Password: <input type="password" name="password">
      Confirm Password: <input type="password" name="pw_confirm">
      <input type="submit" value="Register">
    </fieldset>
  </form>

  <form action="/login" method="post">
    {% csrf_token %}
    <fieldset>
      <legend>Login</legend>
      Email: <input type="email" name="email">
      Password: <input type="password" name="password">
      <input type="submit" value="Log In">
    </fieldset>
  </form>
</body>
</html>
