<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load staticfiles %}

  <title>Document</title>
</head>
<body>
  {% load staticfiles %}
  <img src="{% static "main/character-raphael.png" %}" alt="" height="42" width="42">
  <img src="{% static "main/donatello.jpg" %}" alt="">
  <img src="{% static "main/leo.jpg" %}" alt="">
  <img src="{% static "main/michaelangelo.jpg" %}" alt="">
</body>
</html>
